table {
    margin-top: 10px;
}

table, table th, table td {
    border: 1px solid #000;
    border-collapse: collapse;
}

.col, th {
    padding: 10px;
    text-align: center;
}

.col-button {
    display: inline-block;
    margin: 0 auto;
}
